@import "tailwindcss";

@font-face {
  font-family:Font1;
  src: url('/fonts/font1.woff2');
}

@font-face {
  font-family:Font2;
  src: url('/fonts/font2.woff2');
}

body {
  background-color: #F7F4EF;
  font-family: Helvetica;
}

.Font1{
  font-family:Font1;
}

.Font2{
  font-family:Font2;
}
